.container{
	display: flex;
	width: 50%
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin: auto;
	color:white;
}

.itens{
	flex-basis: 33%
	width: 1000px;
	background: black;
	margin: 25px;
	color: white;
}

.itens img{
	margin: 10px;
}

body{
	background-image: url(verdelima.jpg);
}

form{
	border: 500px;
	background: grey;
}